# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.next/
out/

# Turbo
.turbo/

# Prisma
packages/db/prisma/*.db

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# sql
disable_rls.sql
enable_rls.sql

#test file
scratch.js
test_rls.js
